In [28]:
import pandas
data = pandas.read_excel("Diem-XetTuyen- TPHCM-2021.xlsx")
chuyentin = data.groupby(['MonChuyen']).get_group("CTIN")
chuyentin

,SBD,Ngày Sinh,MonChuyen,Toan,Van,NgoaiNgu,DiemTBMonChuyen,DiemUTKK10,DiemKKChuyen,TongDiemThuong,TongDiemChuyenHoacTichHopNV12,TongDiemChuyenNV34
80,9272,2006-10-21,CTIN,9.0,8.3,8.5,9.0,NaN,NaN,25.8,43.8,25.8
249,9166,2006-09-28,CTIN,8.3,7.6,9.5,8.3,NaN,NaN,25.4,42.0,25.4
259,91859,2006-01-03,CTIN,8.9,8.1,9.2,8.9,NaN,NaN,26.2,44.0,26.2
479,9285,2006-03-18,CTIN,9.0,8.2,9.1,9.0,NaN,NaN,26.3,44.3,26.3
780,9232,2006-06-04,CTIN,9.0,8.0,9.4,9.0,1.0,2.0,27.4,46.4,28.4
...,...,...,...,...,...,...,...,...,...,...,...,...
75982,9223,2006-01-01,CTIN,9.3,9.1,9.3,9.3,NaN,2.0,27.7,48.3,29.7
76086,9265,2006-04-23,CTIN,9.5,9.0,8.5,9.5,NaN,2.0,27.0,48.0,29.0
76583,9252,2006-06-05,CTIN,8.9,8.0,9.0,8.9,NaN,4.0,25.9,47.7,29.9
78274,95344,2006-11-09,CTIN,9.1,8.4,9.1,9.1,NaN,1.0,26.6,45.8,27.6
82813,9199,2006-04-12,CTIN,8.9,7.8,8.3,8.9,NaN,NaN,25.0,42.8,25.0